// Modifying some colors that were defined in the template "alembic"
// Lego colors from:
// https://rebrickable.com/colors/
$linkColour: #61AFFF; // Modulex Medium Blue
$hoverColour: #0055BF; // Blue 
$accentColour: #61AFFF; // Modulex Medium Blue
